*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    display: block;
    background-color: #3f5b3f;
}

h2{
    font-weight: bold;
    color: #f5f5dc;
    padding: 5px;
    background-color: #2e2e2e;
}

.navbar{
    position: fixed;
}

nav{
    border-top: 3px solid #a4c5a4;
    background-color: #2e2e2e;
}

nav ul{
    background-color: #2e2e2e;
    margin: 0 5px 0 5px;
}
nav ul li, nav ul input{
    display: inline-block;
    background-color: #2e2e2e;
    padding: 0;
}
nav ul li:hover{
    background-color: #a4c5a4;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    background-color: #2e2e2e;
    color: #f5f5dc;
    margin: 0;
    padding: 5px;
}

nav ul li a:hover{
    font-weight: bolder;
    color: #2e2e2e;
    background-color: #a4c5a4;
}

nav ul input{
    background-color: #f5f5dc;
    float: left;
    padding: 5px;
    margin: 4px;
}

.top-comm h4, .recent-posts h4{
    background-color: #2e2e2e;
    margin: 5px;
    color: #f5f5dc;
    padding: 5px;
    border-radius: 10px;
    
}

.content{
    display: block;
    position: relative;
    width: 90%;
    margin: 5px;
}

.content #sidebar{
    float: left;
    margin: 5px;
    position: sticky;
}

 #sidebar a {
    font-size: small;
    background-color: #2e2e2e;
    text-decoration: none;
    color: #a4c5a4;
    padding: 10px;
    text-align: center;

}

#sidebar a:hover{
    background-color: #a4c5a4;
    color: #2e2e2e;
    
}

#sidebar hr{
    border-color: #a4c5a4;
}

.content .top-comm{
    width: 24%;
}

.content #sidebar{
    width: 10%;
    float: left;
}

.content .recent-posts{
    width: 63%;
}

.content{
    display: inline-flex;
    margin-top: 10px;
    width:95%;
}

