.navbar {
    background-color: black;
    text-align: center;  
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    width: 100%;
    
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.body {
    background-color: #495057;
    color: #fff;
    height: max-content;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
footer {
    background-color: #495057;
}

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 500px;
  }

  .card {
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #444;
  }

  .left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 2rem;
  }

  .following-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .following-item {
    margin-bottom: 0.5rem;
  }
  .post-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .post-container .card {
    display: inline-block;
    margin-right: 1rem;
  }
  
  @media (max-width: 991.98px) {
    .post-container {
      flex-wrap: wrap;
      overflow: visible;
    }
  
    .post-container .card {
      margin-bottom: 1rem;
    }
  }