*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6{
    background-color: #88a888;
    width: fit-content;
    padding: 5px 90px 5px 10px;
    border-radius: 3px;
}


input[type="text"],
textarea,
input[type="email"],
input[type="password"] {
    border: 2px solid;
    border-radius: 7px;
    font-size: 1em;
    width: 12em;
    padding: 5px;
    margin-top: 3px;
}

input[type="submit"], button[type="submit"] {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: .85em;
    
}

input[type="submit"]:hover, button[type="submit"]:hover{
    background-color: #88a888;
    color: #2e2e2e;
}

.recent-posts #post-card{
    background-color: #d9ecd9;
    border-style: 1px solid #2e2e2e;
    padding: 15px;
    margin: 5px 5px 5px 0;
    width: max-content;
}

.breadcrumbs{
    margin-top: 60px;
    margin-left: 0px;
}

.breadcrumbs ul li, .breadcrumbs ul li p{
    list-style-type: none;
    display: inline;
    color: #8a9c8a;
}

.breadcrumbs ul li a{
    color: #374a37;
    text-decoration: none;
}
.searchcomm, .createcomm, .comms,.flex-create, .joinform, .loginform{
    margin-left: 50px;
    margin-top: 5px;
}

.comms, .comms h4{
    background-color: #bbcebb;
    width: fit-content;
    padding: 5px 5px 1px 10px;
}

.scrollable {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
} 